{% extends 'layout.html'%}

{% block body %}
    <h1> Dashboard <small> Welcome {{session.firstName}} </small></h1>
    <a class="btn btn-primary" href="/add_book"> Add Book</a>
   <hr>

   <table class="table table-striped">
       <thead class="thead-dark">
            <tr>
                <th scope="col">Title</th>
                <th scope="col">ISBN</th>
                <th scope="col">EDIT / DELETE</th>
            </tr>
        </thead>
       {% for book in books %}
       <tbody>
        <tr>
                <td>{{book.title}}</td>
                <td>{{book.isbn}}</td>
                <td><a a href="edit_book/{{book.id}}" class="btn btn-primary pull-right">Edit</a></td>
                <td>
                    <form action="{{url_for('books.del_book', id= book.id)}}" method="POST">
                        <input type="hidden" name="_method" value="Delete">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                </td>
            </tr>
        </tbody>
       {% endfor %}
    </table>
{% endblock%}